@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Poppins&family=Raleway:wght@100;500&family=Roboto:wght@100;400&family=Young+Serif&display=swap');

* {
    font-family: Poppins;
}

body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container-a {
    margin: 0 auto;
    width: 1440.067px;
    height: 889px;
    background: url(./img/pizza-background.png), lightgray -961.167px 0px / 169.326% 100% no-repeat;
    background-position: right top;
    background-size: cover;
    background-color: white;
}

.container-a * {
    position: relative;
}

.container-a p {
    color: #FFF;
}

nav {
    justify-content: flex-end;
    align-items: center;
    width: 1440.067px;
    display: flex;
    color: white;
    gap: 44px;
}

.name {
    margin-right: auto;
    font-weight: 700;
    font-size: 18px;
    top: 20px;
    left: 121px;
    letter-spacing: 0.3px;
}

.nav-info,
.download-button {
    font-weight: 700;
    font-size: 14px;
    right: 143px;
    top: 19.5px;
}

.download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 209px;
    height: 48px;
    flex-shrink: 0;
    background: var(--yeallow-brand-color, #FC0);
    right: 119.5px;
}

[menu] {
    position: relative;
    right: 140.5px;
}

[offer] {
    position: relative;
    right: 139px;
}

[about] {
    position: relative;
    right: 134px;
}

[contact] {
    position: relative;
    right: 132px;
}

.price {
    letter-spacing: 1px;
    position: relative;
    font-weight: 700;
    font-size: 26px;
    margin: 70px;
    left: 50px;
    top: 3px;
}

.pizza-text {
    letter-spacing: 1.5px;
    position: relative;
    font-weight: 600;
    font-size: 64px;
    bottom: 43px;
    left: 121px;
}

.discount-order {
    display: flex;
}

.ellipse {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 120.5px;
    bottom: 66.5px;
}

.ellipse img {
    width: 205px;
    height: 205px;
    flex-shrink: 0;
}

.discount {
    letter-spacing: 0.5px;
    position: relative;
    width: 181.039px;
    font-size: 31.948px;
    font-weight: 700;
    bottom: 358px;
    left: 25px;
}

.percent {
    letter-spacing: 3px;
    font-size: 63.896px;
    font-weight: 700;
    bottom: 255px;
    left: 46px;
}

.order-info {
    width: 324px;
    font-weight: 600;
    font-size: 36px;
    bottom: 589px;
    left: 233px;
    letter-spacing: 0.4px;
    line-height: 58px;
}

.order-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 209px;
    height: 48px;
    flex-shrink: 0;
    background: var(--yeallow-brand-color, #FC0);
    top: 230px;
    right: 203.5px;
    letter-spacing: 1px;
}

.order-button p {
    position: absolute;
    font-weight: 700;
    font-size: 13px;
    left: 45px;
}

.container-b {
    margin: 0 auto;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 800px;
}

.top-foods {
    color: var(--yeallow-brand-color, #FC0);
    font-size: 18px;
    font-weight: 600;
    margin-top: 27px;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -50px;

}

.categories {
    position: absolute;
    font-weight: 600;
    font-size: 55px;
}

.food-cards img {
    width: 277px;
}

.food-cards {
    position: relative;
    width: 1440px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-name {
    position: relative;
    font-weight: 700;
    font-size: 24px;
}

.pizza,
.pasta,
.shakes,
.burger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.food-description {
    position: relative;
    font-weight: 600;
    font-size: 20px;
}

.pizza {
    bottom: -12px;
    right: 50px;
}

.pizza .food-name {
    top: -1.5px;
}

.pizza .food-description {
    bottom: 31px;
    letter-spacing: 0.2px;
    right: -2px;
}

.pasta img {
    position: relative;
    top: 10px;
    right: 20px;
}

.pasta .food-name {
    top: 48px;
    right: 20px;
}

.pasta .food-description {
    top: 19px;
    right: 25px;
}

.shakes img {
    position: relative;
    top: 10px;
    left: 10px;
}

.shakes .food-name {
    top: 15px;
    left: 15px;
    letter-spacing: 0.3px;
}

.shakes .food-description {
    bottom: 15px;
    letter-spacing: 0.3px;
    left: 3px;
}

.burger img {
    position: relative;
    top: 10px;
    left: 50px;
}

.burger .food-name {
    bottom: 14px;
    left: 36px;
    letter-spacing: 0.5px;
}

.burger .food-description {
    bottom: 44px;
    left: 28px;
    letter-spacing: 0.3px;
}

.container-c {
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: flex;
    margin: 0 auto;
    width: 1440px;
    height: 400px;
    flex-shrink: 0;
    background: var(--yeallow-brand-color, #FC0);
    bottom: 180px;
}

.order-card-a,
.order-card-b,
.order-card-c {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 400px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    color: white;
}

.order-card-a img {
    position: relative;
    width: 115px;
    height: 115px;
    top: 14px;
}

.order-ad,
.order-ad-b {
    position: relative;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
}

.order-text {
    position: relative;
    width: 380px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    bottom: 12px;
    color: var(--white-secondery-color, #FFF);
}

[up] {
    position: relative;
    top: 35px;
    letter-spacing: 0.3px;
}

[down] {
    position: relative;
    top: 2px;
}

[burger-icon] {
    position: absolute;
    width: 39.504px;
    height: 39.504px;
    flex-shrink: 0;
    bottom: 280px;
}

[circle-b] {
    position: relative;
    top: 13px;
}

.order-ad-b {
    position: relative;
}

[up-b] {
    top: 37px;
}

[down-b] {
    bottom: -2px;
}

.order-text-b {
    position: absolute;
}

[img-c] {
    position: relative;
    top: 14px;
}

[up-c] {
    top: 35px;
    letter-spacing: 0.5px;
}

[down-c] {
    top: 12px;
}

.container-d {
    display: flex;
    flex-direction: column;
    bottom: 180px;
    position: relative;
    margin: 0 auto;
    width: 1440px;
    height: 820px;
    background: var(--white-semi-white, #F5F5F5);
    align-items: center;
}

.outlets {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: var(--yeallow-brand-color, #FC0);
    top: 58px;
    right: 10px;
    letter-spacing: 0.3px;
}

.find-outlet {
    position: relative;
    color: var(--black-font-color, #231900);
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    top: -10px;
    letter-spacing: 0.3px;
}

.outlet-cards {
    display: flex;
    flex-direction: row;
}

.outlet-card {
    display: flex;
    width: 380px;
    height: 563px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 29px;
}

.outlet-card img {
    position: relative;
}

.outlet-card p {
    position: relative;
}

[outlet] {
    width: 380px;
    height: 440px;
}

[mark] {
    width: 20.427px;
    height: 32.875px;
}

.adress {
    width: 380px;
    text-align: center;
    color: var(--black-font-color, #231900);
    font-size: 20px;
    font-weight: 700;
}

[a-outlet-img] {
    position: relative;
    bottom: 7.5px;
    right: 30px;
}

[a-mark] {
    position: relative;
    bottom: 16px;
    right: 29px;
}

[a-adress] {
    position: relative;
    bottom: 55px;
    right: 30px;
    letter-spacing: 0.3px
}

[b-outlet-img] {
    bottom: 7.5px;
}

[b-mark] {
    bottom: 16px;
    left: 0.7px;
}

[b-adress] {
    bottom: 55px;
    letter-spacing: 0.3px;
}

[c-outlet-img] {
    left: 30px;
    bottom: 7.5px;
}

[c-mark] {
    left: 31px;
    bottom: 16px;
}

[c-adress] {
    bottom: 55px;
    left: 30px;
    letter-spacing: 0.3px;
}

.visitor-container {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 800px;
    background: var(--white-secondery-color, #FFF);
    bottom: 180px;
    color: var(--black-font-color, #231900);
}

.visitor-text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.pizza-delivery {
    color: var(--yeallow-brand-color, #FC0);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    align-self: flex-start;
    letter-spacing: 0.5px;
    top: 90px;
    left: 128px;
}

.visitor-container * {
    position: relative;
}

.get-started {
    font-size: 55px;
    font-weight: 600;
    top: 17.5px;
    left: 120px;
    letter-spacing: 0.5px;
}

[first-line] {
    width: 175px;
    height: 5px;
    background: #FC0;
    bottom: 26.8px;
    left: 121px;
}

.everything {
    width: 585px;
    font-size: 26px;
    font-weight: 600;
    bottom: 30px;
    left: 120px;
    letter-spacing: 0.3px;
}

.lorem-delivery {
    width: 585px;
    font-size: 17px;
    font-weight: 400;
    bottom: 52px;
    left: 120px;
    line-height: 1.5;
}

.visitor-cards {
    position: relative;
    display: flex;
    flex-direction: row;
    bottom: 14px;
    left: 120px;
}

.visitor-card-a,
.visitor-card-b {
    display: flex;
    flex-direction: column;
}

.visitor-card-a,
.visitor-card-b * {
    position: relative;
}

.visitor-card-a img,
.visitor-card-b img {
    width: 100px;
    height: 100px;
}

.title-text {
    font-size: 20px;
    font-weight: 600;
}

.card-text {
    width: 277px;
    height: 71px;
    font-size: 17px;
    font-weight: 400;
}

.visitor-card-b {
    position: relative;
    left: 15px;
}


[text-b] {
    bottom: 28px;
    left: 15px;
    line-height: 1.5;
}

[title-b] {
    left: 15px;
    letter-spacing: 0.3px;
}

[text-a] {
    bottom: 27px;
    line-height: 1.5;
}

.customer-photo {
    position: absolute;
    width: 585px;
    height: 585px;
    border-radius: 585px;
    left: 735px;
    top: 108px;
}

.team-container {
    position: relative;
    margin: 0 auto;
    width: 1440px;
    height: 800px;
    display: flex;
    flex-direction: column;
    background: #FFF;
    bottom: 179.5px;
    align-items: center;
}

.team-container>* {
    position: relative;
    font-weight: 600;
}

.team-members {
    font-size: 18px;
    color: var(--yeallow-brand-color, #FC0);
    top: 29px;
    letter-spacing: 0.5px;
    left: 5px;
}

.meet-team {
    font-size: 55px;
    bottom: 40px;
    letter-spacing: 0.5px;
}

[second-line] {
    width: 205px;
    height: 5px;
    background: #FC0;
    bottom: 75px;
    left: 1px;
}

.member-cards {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

[member-card] {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

[member-card]>* {
    position: relative;
}

.member-name {
    font-size: 24px;
    color: var(--black-font-color, #231900);
    top: 21.5px;
    letter-spacing: 0.5px;
}

.member-cards img {
    height: 350px;
    width: 277px;
    object-fit: cover;
}

.member-job {
    font-weight: 400;
    font-size: 20px;
    bottom: 10px;
}

[member-card] img {
    top: 10px;
}

.app-container * {
    position: relative;
}

.app-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    width: 1440px;
    height: 734px;
    background: linear-gradient(91deg, #FC0 17.25%, rgba(255, 204, 0, 0.00) 178.38%);
    bottom: 179.5px;
    color: #FFFFFF;
}

.app-discount-text {
    display: flex;
    flex-direction: column;
}

.phone {
    height: 534px;
    bottom: 35px;
    left: 30px;
}

.get-discount {
    font-weight: 700;
    font-size: 55px;
    bottom: 34px;
    right: 55px;
    letter-spacing: 0.6px;
}

.get-app {
    font-size: 26px;
    font-weight: 600;
    width: 554px;
    bottom: 80px;
    right: 55px;
    letter-spacing: 0.3px;
}

.logos {
    display: flex;
    gap: 12px;
    bottom: 33px;
    right: 55px;
}

.logo-container {
    position: relative;
    display: flex;
    width: 1440px;
    height: 350px;
    margin: 0 auto;
    flex-direction: row;
    background: #FFF;
    bottom: 179.5px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo-container img {
    width: 278px;
}

footer {
    position: relative;
    display: flex;
    width: 1440px;
    height: 586px;
    margin: 0 auto;
    bottom: 179.5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

